@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-color: #fad6a5;
  --secondary-color: #4682b4;
  --accent1-color: #708090;
  --accent2-color: #008080;
  --heading-font: 'Raleway', sans-serif;
  --paragraph-font: 'Open Sans', sans-serif;
  --nav-background-color: #008080;
  --nav-link-color: #fad6a5;
  --nav-hover-link-color: #008080;
  --nav-hover-background-color: #add8e6;
}

body {
  font-family: var(--paragraph-font);
}

h1,
h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
  max-width: 960px;
}

header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.Adventure {
  display: flex;
  justify-content: space-around;
}

.Adventure img {
  width: 200px;
}


nav {
  display: flex;
  list-style: none;
}

nav a {
  color: var(--nav-link-color);
  text-decoration: none;
  flex: 1 1 100%;
}

nav a:link,
nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
}

.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
  border: 1px solid steelblue;
}

.hero h1 {
  position: absolute;
  top: 20%;
  left: 35%;
  background-color: var(--accent1-color);
  opacity: 0.9;
}

.hero article {
  position: absolute;
  top: 30%;
  left: 12%;
  color: white;
  background-color: var(--secondary-color);
  opacity: 0.9;
  max-width: 960px;
  padding: 20px;
}

.hero article img {
  width: 200px;
  height: auto;
  float: right;
}

footer a {
  text-decoration: none;
}

.form-item {
  display: grid;
  align-items: center;
}

.map-address {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.address-info {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  justify-self: center;
}

.employee-profiles {
  margin: 20px;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

figure img {
  width: 200px;
  height: auto;
}

.teams-heading {
  text-align: center;
}


.contact-form {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: auto;
}
.form-group {
  margin-bottom: 15px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.form-group input[type="radio"] {
  margin-right: 10px;
}
.form-group input[type="checkbox"] {
  margin-right: 10px;
}
.form-group textarea {
  height: 100px;
  resize: vertical;
}
.form-group button {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.form-group button:hover {
  background-color: #0056b3;
}